# ── Datos crudos del medidor ─────────────────────────────────────────────────
2026/etsmartmeter_*.csv
2026/etsmartmeter_*.xlsx


# ── Python ────────────────────────────────────────────────────────────────────
__pycache__/
*.pyc
*.pyo

# ── Jupyter ───────────────────────────────────────────────────────────────────
.ipynb_checkpoints/

# ── Sistema ───────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
~$*.xlsx
